<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Access logs</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/starter-template/">
</head>

<body>

<h2>List of logs</h2>
<table  class="table table-striped">
    <thead>
    <tr>

        <th style="width: 40px;">Username</th>
        <th style="width: 100px;">Path</th>
        <th style="width: 120px;">Date</th>



    </tr>
    </thead>
    <tr th:each="log:${log}">
        <td th:text="${log.username}">username</td>
        <td th:text="${log.path}">path</td>
        <td th:text="${log.date}">date</td>

    </tr>
</table>


</body>
</html>