<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/starter-template/">

</head>

<body>

<h2>List of Products</h2>
<table class="table table-striped">
    <thead>
    <tr>

        <th style="width: 40px;">Id</th>
        <th style="width: 100px;">Name</th>
        <th style="width: 120px;">Description</th>

        <th>Brand</th>

    </tr>
    </thead>
    <tr th:each="product:${product}">
        <td th:text="${product.id}">id</td>
        <td th:text="${product.name}">name</td>
        <td th:text="${product.description}">description</td>
        <td th:text="${product.brand}">brand</td>

    </tr>
</table>




</body>
</html>