<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/starter-template/">

</head>

<body>

<h2>List of Users</h2>
<table class="table table-hover table-dark">
    <thead>
    <tr>

        <th style="width: 15px;">Id</th>
        <th style="width: 100px;">FirstName</th>

        <th style="width: 120px;">LastName</th>

        <th>Email</th>

    </tr>
    </thead>
    <tr th:each="user:${user}">


        <td th:text="${user.id}">id</td>

        <td th:text="${user.firstName}">firstName</td>
        <td th:text="${user.lastName}">lastName</td>
        <td th:text="${user.email}">email</td>


    </tr>
</table>




</body>
</html>
